@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-family: 'Lato', sans-serif;
}
